# build output
/dist
/build
.cache
coverage

# env
.env
.DS_Store
.idea

# dependencies
/node_modules
yarn-error.log

# medusa runtime
/static
/uploads
.medusa
medusa-db.sql

# yarn berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# typescript
*.tsbuildinfo

# source (keep)
!src/**
