name: Deploy to EC2

on:
  push:
    branches: [ "main" ]  # Change if using master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Connect & Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          cd ${{ secrets.APP_PATH }}
          git pull origin main
          yarn install
          rm -rf .medusa
          rm -rf node_modules/.vite
          yarn build
          pm2 delete medusaBackend 2>/dev/null || true
          pm2 start npx --name medusaBackend -- medusa develop
          pm2 save

