name: Deploy Backend to EC2 (Medusa DEV)

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH (git pull + pm2)
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            set -e

            APP_PATH="${{ secrets.APP_PATH }}"

            # Ensure app directory exists
            mkdir -p $APP_PATH
            cd $APP_PATH

            # If repo not initialized, clone it
            if [ ! -d ".git" ]; then
              echo "Cloning repository..."
              git clone https://g
